.bet-input
  position: relative
  box-sizing: border-box
  width: $size-width
  height: 36px
  margin: 0 auto $space-big auto
  padding: 0
  border: solid 2px $color-accent
  border-radius: $radius
  background-color: white

  input
    box-sizing: border-box
    width: 100%
    height: 100%
    outline: none
    border: none
    text-align: right
    text-indent: 1em
    font-family: $font-text
    font-weight: bold
    color: $swatch-grass-shade
    font-size: 18px

  label
    position: absolute
    left: $space-small
    top: 4px
    color: $color-background  
    text-align: left
    font-size: 14px

  // Input number stepper controls vendor prefixes
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button
    margin-left: $space-small