@mixin button
  $height: 44px
  display: block
  width: $size-width
  height: $height
  margin: 0 auto
  border: none
  text-transform: capitalize
  font-family: $font-text
  line-height: $height
  font-size: 32px
  font-weight: bold
  cursor: pointer
  margin-bottom: $space-medium
  border-radius: $radius

.button-primary
  @include button
  background-color: $color-accent
  color: $color-accent-shade

  &:hover
    background-color: darken(#FFCE54, 10%)
    color: darken(#BA8500, 10%)

.button-secondary
  @include button
  background-color: $color-dominant
  color: white

  &:hover
    background-color: darken(#967ADC, 10%)
    color: darken(#F5F7FA, 10%)
