.header
  .top-row
    display: flex
    align-items: center
    justify-content: space-around
    height: 54px
    background-color: $color-dominant-shade

  h1
    color: $color-accent
    margin: $space-small

  .sprite
    width: 32px
    height: auto

  .money
    font-size: 21px
    font-weight: bold
    color: $swatch-aqua