.image-strip
  display: flex
  flex-direction: column
  background-color: white
  align-items: center
  width: 86px

  animation-name: spin
  animation-duration: 1s // this is the animation speed. The duration is controlled via React
  animation-iteration-count: infinite
  animation-timing-function: linear
  animation-play-state: paused

  img
    max-width: 40px
    margin: $space-medium 0

@keyframes spin
  0%
    transform: translateY(0)

  100%
    transform: translateY(-864px) // 216px of visible height - 864px of total height
