.wrapper
  display: flex
  justify-content: center

  .wheels
    position: relative
    width: 288px
    display: flex
    justify-content: space-between

    .wheel
      box-sizing: border-box
      overflow: hidden
      height: 216px
      border: solid 2px $color-accent
      border-radius: $radius
      background-color: white

    .line
      position: absolute
      top: 50%
      left: 0
      width: 100%
      height: 4px
      background-color: $color-accent
      border: none
      margin: 0
      padding: 0