@import ./variables
@import ./swatches

html, body, #root, .App
  height: 100%
  margin: 0

body
  background-color: $color-background

.App
  color: white
  text-align: center
  font-family: $font-text
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  padding-bottom: $space-big


// until we found a way to play audio on ios or handle the exception
iframe
  display: none