@font-face {
  font-family: 'Museo Moderno';
  src: url("../assets/fonts/MuseoModerno-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Museo Moderno';
  src: url("../assets/fonts/MuseoModerno-Bold.ttf");
  font-weight: bold;
}